# Module: SQLite3 Assignments
## Lesson: SQLite3
### Assignment 1: Creating and Connecting to a Database

1. Write a Python function to create a new SQLite3 database named `test.db`.
2. Write a Python function to create a table named `employees` with columns `id` (integer), `name` (text), `age` (integer), and `department` (text) in the `test.db` database.

### Assignment 2: Inserting Data

1. Write a Python function to insert a new employee into the `employees` table.
2. Insert at least 5 different employees into the `employees` table.

### Assignment 3: Querying Data

1. Write a Python function to fetch and display all records from the `employees` table.
2. Write a Python function to fetch and display all employees from a specific department.

### Assignment 4: Updating Data

1. Write a Python function to update the department of an employee based on their `id`.
2. Update the department of at least 2 employees and display the updated records.

### Assignment 5: Deleting Data

1. Write a Python function to delete an employee from the `employees` table based on their `id`.
2. Delete at least 1 employee and display the remaining records.

### Assignment 6: Advanced Queries

1. Write a Python function to fetch and display employees older than a certain age.
2. Write a Python function to fetch and display employees whose names start with a specific letter.

### Assignment 7: Handling Transactions

1. Write a Python function to insert multiple employees into the `employees` table in a single transaction. Ensure that if any insertion fails, none of the insertions are committed.
2. Write a Python function to update the age of multiple employees in a single transaction. Ensure that if any update fails, none of the updates are committed.

### Assignment 8: Creating Relationships

1. Create a new table named `departments` with columns `id` (integer) and `name` (text).
2. Modify the `employees` table to include a foreign key referencing the `id` column in the `departments` table.
3. Write a Python function to insert data into both the `departments` and `employees` tables, ensuring referential integrity.

### Assignment 9: Indexing and Optimization

1. Create an index on the `name` column of the `employees` table.
2. Write a Python function to fetch and display all employees whose names start with a specific letter. Compare the performance with and without the index.

### Assignment 10: Backing Up and Restoring Data

1. Write a Python function to back up the `test.db` database to a file named `backup.db`.
2. Write a Python function to restore the `test.db` database from the `backup.db` file.

In [1]:
import sqlite3

#Assignment 1.1
def sql_connect():  
    conn = sqlite3.connect('test.db')
    conn.close()
    print("success")
    
sql_connect()

success

In [2]:
#Assignment 1.2
def create_table():
    conn = sqlite3.connect("test.db")
    cursor = conn.cursor()
    cursor.execute('''
    Create Table If NOT exists employees(
                   id INTERGER Primary Key,
                   name TEXT NOT NULL ,
                   age INTEGER ,
                   department TEXT 
                   )

    ''')
    conn.commit()
    conn.close()
    print("Success")

create_table()

Success

In [3]:
#Assignment 2
def insert_employees( id : int , name : str , age : int , department : str):
    conn = sqlite3.connect("test.db")
    cursor = conn.cursor()
    cursor.execute(''' 
    INSERT INTO employees( id , name , age , department)
                   values( ? ,? , ? , ?)

    ''', (id , name ,age , department ))
    conn.commit()
    conn.close()
    print("Success")
insert_employees(1, 'Eva', 19, 'Programer')
insert_employees(2, 'Bob', 25, 'Engineering')
insert_employees(3, 'Charlie', 28, 'Sales')
insert_employees(4, 'David', 35, 'Marketing')
insert_employees(5, 'Eve', 22, 'HR')

Success
Success
Success
Success
Success

In [4]:
#Assignment 3.1
def display_all():
    conn = sqlite3.connect("test.db")
    cursor = conn.cursor()
    cursor.execute(''' 
    SELECT * from employees
    ''')
    rows = cursor.fetchall()
    for row in rows :
        print(row)
    conn.close()
    print("Sucess")

display_all()

(1, 'Eva', 19, 'Programer')
(2, 'Bob', 25, 'Engineering')
(3, 'Charlie', 28, 'Sales')
(4, 'David', 35, 'Marketing')
(5, 'Eve', 22, 'HR')
Sucess

In [5]:
#Assignment 3.2
def display_select(department_name : str):
    conn = sqlite3.connect("test.db")
    cursor = conn.cursor()
    cursor.execute(''' 
    SELECT * from employees where department = ?
    ''' , (department_name , ))
    rows = cursor.fetchall()
    for row in rows :
        print(row)
    conn.close()
    print("Sucess")

def display_select_by_id(id : int):
    conn = sqlite3.connect("test.db")
    cursor = conn.cursor()
    cursor.execute(''' 
    SELECT * from employees where id = ?
    ''' , (id , ))
    rows = cursor.fetchall()
    for row in rows :
        print(row)
    conn.close()
    print("Sucess")


display_select("Sales")

(3, 'Charlie', 28, 'Sales')
Sucess

In [6]:
#Assignment 4
def update_employee_by_id(id , new_age):
    conn = sqlite3.connect("test.db")
    cursor = conn.cursor()
    cursor.execute( '''
                    UPDATE employees 
                    Set age = ?
                    Where id = ?
                   ''' , ( new_age , id ,))
    conn.commit()
    conn.close()
    print("Sucess")
    
update_employee_by_id( 3 , 40)
update_employee_by_id( 1 , 25)

display_select_by_id(1)

Sucess
Sucess
(1, 'Eva', 25, 'Programer')
Sucess

In [7]:
#Assignment 5
def delete_employee_by_id(id):
    conn = sqlite3.connect("test.db")
    cursor = conn.cursor()
    cursor.execute( ''' 
    DELETE from employees where id = ?
    ''', (id ,))
    conn.commit()
    conn.close()
    print("sucess")

delete_employee_by_id(2)
display_all()

sucess
(1, 'Eva', 25, 'Programer')
(3, 'Charlie', 40, 'Sales')
(4, 'David', 35, 'Marketing')
(5, 'Eve', 22, 'HR')
Sucess

In [8]:
#Assignment 6.1
def display_employee_with_age_condition(age) :
    conn = sqlite3.connect("test.db")
    cursor = conn.cursor()
    cursor.execute( ''' 
    SELECT * FROM employees where age > ? 
    ''', (age ,))
    conn.commit()

    rows = cursor.fetchall()
    for row in rows :
        print(row)
    
    conn.close()
    print("sucess")

display_employee_with_age_condition(30)

(3, 'Charlie', 40, 'Sales')
(4, 'David', 35, 'Marketing')
sucess

In [9]:
#Assignment 6.2
def display_employee_with_alphabet(alphabet) :
    conn = sqlite3.connect("test.db")
    cursor = conn.cursor()
    cursor.execute('SELECT * FROM employees WHERE name LIKE ?', (alphabet + '%',))

    conn.commit()

    rows = cursor.fetchall()
    for row in rows :
        print(row)
    
    conn.close()
    print("sucess")

display_employee_with_alphabet('E')

(1, 'Eva', 25, 'Programer')
(5, 'Eve', 22, 'HR')
sucess

In [10]:
#Assignment 7.1

def insert_multiple_employee(employees : list):
    conn = sqlite3.connect("test.db")
    cursor = conn.cursor()

    try:
        cursor.executemany('''
            UPDATE employees
            Set age = ?
            where id = ?
        ''', employees)
        conn.commit()
        print("All employees inserted successfully.")
    except Exception as e:
        conn.rollback()
        print("Error occurred, transaction rolled back.")
        print(e)
    finally:
        conn.close()

employees = [
    (6, 'Frank', 40, 'Finance'),
    (7, 'Grace', 29, 'Engineering'),
    (8, 'Hannah', 35, 'Marketing'),
    (9, 'Ivan', 38, 'Sales'),
    (10, 'Jack', 45, 'HR') 
]

insert_multiple_employee(employees)

Error occurred, transaction rolled back.
Incorrect number of bindings supplied. The current statement uses 2, and there are 4 supplied.

In [11]:
display_all()

(1, 'Eva', 25, 'Programer')
(3, 'Charlie', 40, 'Sales')
(4, 'David', 35, 'Marketing')
(5, 'Eve', 22, 'HR')
Sucess

In [12]:
#Assignment 7.2

def update_multiple_age( ages ):
    conn = sqlite3.connect("test.db")
    cursor = conn.cursor()

    try:
        cursor.executemany('''
            UPDATE employees
            Set age = ?
            where id = ?
        ''', ages)
        conn.commit()
        print("All employees update successfully.")
    except Exception as e:
        conn.rollback()
        print("Error occurred, transaction rolled back.")
        print(e)
    finally:
        conn.close()

updates = [
    (32, 1),
    (26, 2),
    (33, 3),
    (41, 4), 
    (23, 5)
]

update_multiple_age(updates)

All employees update successfully.

In [13]:
display_all()

(1, 'Eva', 32, 'Programer')
(3, 'Charlie', 33, 'Sales')
(4, 'David', 41, 'Marketing')
(5, 'Eve', 23, 'HR')
Sucess

In [14]:
#Assignment 8.1
def create_departments_table():
    conn = sqlite3.connect('test.db')
    cursor = conn.cursor()
    cursor.execute('''
        CREATE TABLE IF NOT EXISTS departments (
            id INTEGER PRIMARY KEY,
            name TEXT NOT NULL
        )
    ''')
    conn.commit()
    conn.close()
    print("success")

create_departments_table()

success

In [ ]:
#Assignment 8.2
def add_foreign_key():
    conn = sqlite3.connect('test.db')
    cursor = conn.cursor()
    cursor.executescript( '''
    PRAGMA foreign_keys=off;
    BEGIN TRANSACTION;
    CREATE TABLE new_employees (
        id INTEGER PRIMARY KEY,
        name TEXT NOT NULL ,
        age INTEGER ,
        department TEXT ,
        department_id INTEGER ,
        FOREIGN KEY(department_id) REFERENCES departments(id)                           
    );
    INSERT INTO new_employees (id , name , age , department)
    SELECT id , name  , age , department FROM employees;
    DROP TABLE employees;
    
    ALTER TABLE new_employees RENAME to employees;

    COMMIT;
    PRAGMA foreign_keys=on;
    ''')
    conn.commit()
    conn.close()
    print('success')

add_foreign_key()

success

In [ ]:
#Assignment 8.3
def insert_department_employee_table( department_id , department_name ,id , name , age , department):
    conn = sqlite3.connect('test.db')
    cursor = conn.cursor()
    try:
        cursor.execute(''' 
        INSERT INTO departments( id , name)
        VALUES (? , ?)
        ''' , (department_id , department_name))
        cursor.execute(''' 
        INSERT INTO employees ( id , name , age , department )
        VALUES (? , ? , ? , ?)
        ''' , (id , name , age , department) )
        conn.commit()
        print("Success")
    except Exception as e:
        conn.rollback()
        print(e)
    pass

insert_department_employee_table(1 , 'Seller' ,  101 , 'Nick' , 30 , 'Seller')

Success

In [23]:
#Assignment 9.1
def create_index():
    conn = sqlite3.connect('test.db')
    cursor = conn.cursor()
    cursor.execute(''' 
    CREATE INDEX idx_name ON employees(name)
    ''')
    conn.commit()
    conn.close()
    print("success")

create_index()

success

In [30]:
def display_employees_performance(letter):
    conn = sqlite3.connect('test.db')
    cursor = conn.cursor()
    cursor.execute("SELECT * FROM employees WHERE name Like ?" , (letter + '%',))
    rows = cursor.fetchall()
    for row in rows:
        print(row)

    conn.close()
    print('success')


display_employees_performance('N')

(101, 'Nick', 30, 'Seller', None)
success

In [31]:
#assigment 10
import shutil

def backup():
    shutil.copy('test.db' , 'backup.db')
    print('success')

backup()

success

In [32]:
def restore():
    shutil.copy('backup.db','test.db')
    print("success")

restore()

success