In [1]:
import sqlite3

In [2]:
# connect to an SQLite database
connection = sqlite3.connect("example.db")
connection

In [3]:
cursor = connection.cursor()

In [4]:
##create a table
cursor.execute('''
Create Table If Not Exists employees(
    id Integer Primary Key,
    name Text Not Null ,
    age Integer,
    department text
    )
''')

#Commit the change 
connection.commit()

In [5]:
cursor.execute ('''
Select * from employees
                ''')

In [6]:
#Insert the data in sqlite table
cursor.execute('''
Insert Into employees(name , age , department)
               values("Krish" , 32 , 'Data Scientist')
''')

cursor.execute('''
Insert Into employees(name , age , department)
               values("Bob " , 25 , 'Engineering')
''')

cursor.execute('''
Insert Into employees(name , age , department)
               values("Charlie" , 35 , 'Finance')
''')


#commit the change
connection.commit()

In [7]:
## Query the data from the table
cursor.execute("Select * from employees")
rows = cursor.fetchall()

#print the qurried data
for row in rows :
    print(row)

(1, 'Krish', 32, 'Data Scientist')
(2, 'Bob ', 25, 'Engineering')
(3, 'Charlie', 35, 'Finance')

In [8]:
#Update 
cursor.execute(''' 
UPDATE employees
Set age = 34
where name = "Krish"

''')

connection.commit()

In [9]:
cursor.execute("Select * from employees")
rows = cursor.fetchall()

for row in rows :
    print(row)

(1, 'Krish', 34, 'Data Scientist')
(2, 'Bob ', 25, 'Engineering')
(3, 'Charlie', 35, 'Finance')

In [10]:
#Delete the data form the table
cursor.execute('''
Delete from employees
            where name = 'Bob '

''')

In [11]:
cursor.execute("Select * from employees")
rows = cursor.fetchall()

for row in rows :
    print(row)

(1, 'Krish', 34, 'Data Scientist')
(3, 'Charlie', 35, 'Finance')

In [12]:
## Working Wwith Sales Data
# Connect to an SQLite database
connection = sqlite3.connect('sales_data.db')
cursor = connection.cursor()

# Create a table for sales data
cursor.execute('''
CREATE TABLE IF NOT EXISTS sales (
    id INTEGER PRIMARY KEY,
    date TEXT NOT NULL,
    product TEXT NOT NULL,
    sales INTEGER,
    region TEXT
)
''')

# Insert data into the sales table
sales_data = [
    ('2023-01-01', 'Product1', 100, 'North'),
    ('2023-01-02', 'Product2', 200, 'South'),
    ('2023-01-03', 'Product1', 150, 'East'),
    ('2023-01-04', 'Product3', 250, 'West'),
    ('2023-01-05', 'Product2', 300, 'North')
]

cursor.executemany(''' 
Insert into sales(date,product,sales,region)
                    values(?, ? , ? ,?)

''' , sales_data)

connection.commit()

In [13]:
cursor.execute('Select * from sales')
rows = cursor.fetchall()

for row in rows :
    print(row)

(1, '2023-01-01', 'Product1', 100, 'North')
(2, '2023-01-02', 'Product2', 200, 'South')
(3, '2023-01-03', 'Product1', 150, 'East')
(4, '2023-01-04', 'Product3', 250, 'West')
(5, '2023-01-05', 'Product2', 300, 'North')

In [14]:
#close conection

connection.close()